.tabbar i.icon {
    height: 31px;
}
i.icon {
    font-size: 30px;
}
i.stats {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #007aff;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    font-size: 25px;
}
.views {
    margin: auto;
    max-width: 700px;
}